<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="org.opennaas.gui.vcpe">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="org.opennaas.extensions.router.model-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.model/org.opennaas.extensions.router.model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.core.resources-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.core.resources/org.opennaas.core.resources">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.core.persistence-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.core.persistence/org.opennaas.core.persistence">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.core.hsqldb-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.core.hsqldb/org.opennaas.core.hsqldb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.core.features-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.core.features/org.opennaas.core.features">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.vcpe-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.vcpe/org.opennaas.extensions.vcpe">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.core.security-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.core.security/org.opennaas.core.security">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capability.chassis-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capability.chassis/org.opennaas.extensions.router.capability.chassis">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capabilities.api-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capabilities.api/org.opennaas.extensions.router.capabilities.api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capability.ip-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capability.ip/org.opennaas.extensions.router.capability.ip">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capability.staticroute-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capability.staticroute/org.opennaas.extensions.router.capability.staticroute">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capability.vrrp-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capability.vrrp/org.opennaas.extensions.router.capability.vrrp">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.router.capability.bgp-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.router.capability.bgp/org.opennaas.extensions.router.capability.bgp">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.queuemanager-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.queuemanager/org.opennaas.extensions.queuemanager">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.network.model-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.network.model/org.opennaas.extensions.network.model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="org.opennaas.extensions.bod.capability.l2bod-0.28.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/org.opennaas.extensions.bod.capability.l2bod/org.opennaas.extensions.bod.capability.l2bod">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="opennaas-vcpe"/>
        <property name="java-output-path" value="/org.opennaas.gui.vcpe/target/classes"/>
        <property name="component.exclusion.patterns" value="WEB-INF/lib/org.springframework.*-2.5*.jar"/>
    </wb-module>
</project-modules>
